body,html {
	width: 100%;
	height: 100%;
	scroll-behavior: smooth;
}
@media screen and (min-width: 1200px) {
	.container {
		max-width: 1300px !important;
	}
}
.maincontainer {
	height: 100vh;
	background: linear-gradient(
    to right, 
    #212121 0%, 
    #212121 50%, 
    #ffffff 50%, 
    #ffffff 100%
  );
}

.btndesign, .btnabout {
	font-weight: bold;
	font-family: muli;
	color: white !important;
	font-size: 18px;
	cursor: pointer;
	transition: all 0.1s;
}
.btncontact {
	font-weight: bold;
	font-family: muli;
	color: #424242 !important;
	font-size: 18px;
	cursor: pointer;
	transition: all 0.1s;
}
.btnworks {
	font-weight: bold;
	font-family: muli;
	color: #424242 !important;
	font-size: 18px;
	cursor: pointer;
	transition: all 0.1s;
}
}
.row1 {
	padding: 5px;
	padding: 0px !important;
}
.colblack {
	background: linear-gradient(
    to right, 
    #212121 0%, 
    #212121 50%, 
    #ffffff 50%, 
    #ffffff 100%
  );
}
.colwhite {
	background: linear-gradient(
    to right, 
    #ffffff 0%, 
    #ffffff 50%, 
    #212121 50%, 
    #212121 100%
  );
}
.lblh {
	top: -5% !important;
	font-size: 150px;
	color: white;
	font-family: Keep Calm;
	margin:0 auto;
	width: 100%;
	line-height: 70px;
}
.lbli {
	
	font-family: Keep Calm;
	font-size: 150px;
	margin:	0 auto;
	width: 100%;
	padding: 0px;
	line-height: 70px;
}
.check {
	font-size: 20px;
	padding: 10px 30px !important;
	padding-right: 3px !important;
	color: white;
	font-family: Keep Calm;
	border:2px solid white;
	border-right: 0px;
	background-color: transparent;
}
.more {
	font-size: 20px;
	padding: 10px 30px !important;
	padding-left: 3px !important;
	color: #212121;
	font-family: Keep Calm;
	border:2px solid #212121;
	text-align: right;
	border-left: 0px;
	background-color: transparent;
}
.p2 {
	width: 100%;
}
#txt1, #txt2 {
    opacity: 1;
    transition: opacity 0.5s;
}
.hide {
    opacity: 0 !important;
}

.box {
	 background: #fff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.2) 0 4px 2px -2px;
  font-family: "adelle-sans", sans-serif;
  font-weight: 100;
  margin: 48px auto;
  width: 20rem;
  border: 1px solid #ccc;
  height: 20rem;
}


.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}


.lbldesign {
	font-family: Keep Calm;
	font-size: 40px;
	font-weight: bold;
	color:#212121;
}
.lblsubdesign {
	font-family: keep Calm;
	font-size: 17px;
	width: 60%;
	color:#424242;
}
.imgdesign {
	transition: all 0.4s;
	box-shadow: 0px 5px 18px #888888;
	filter: grayscale(100%);
	cursor: pointer;

}
.imgdesign:hover {
	filter: grayscale(0%);
}
.imgdesign:before {
	position: absolute;
	content: '';
	height: 0;
	width: 0;
	border:2px solid transparent;
	box-sizing: border-box;
}
.imgdesign:after {
	position: absolute;
	content: '';
	height: 0;
	width: 0;
	border:2px solid transparent;
	box-sizing: border-box;
}
.imgdesign:hover:before {
	height: 300px;
	width: 300px;
	border: 2px solid #424242;
	border-right: none;
	border-bottom: none;
	transition: height 0.5s linear, width 0.5s linear 0.5s;
}
.imgdesign:hover:after {
	height: auto;
	width: auto;
	border: 2px solid #424242;
	border-left: none;
	border-top: none;
	transition: height 0.5s linear, width 0.5s linear 0.5s;

}
.lbltitle {
	font-family: Keep Calm;
	font-size: 35px;
	font-weight: bold;
	color:#212121;
}
.lblaboutme {
	color: white;
	font-family: Keep Calm;
	font-size: 15px;
}
.lblname {
	font-family: muli;
	font-size: 35px;
	font-weight: bold;
	color: white;
}
.lbldescription {
	width: 70%;
	color: #BDBDBD;
	font-family: muli;
	font-size: 18px;
}
.ulimage {
	display: block;
}
.vl {
  border-left:2px solid white;
  height: 50px;
  margin-left: 10px;
}
.image {
  padding:0px !important;
  margin-top: 10px;
  margin-right: 5px;
}
.colabout {
	text-align: right;
	margin:0px;
	padding: 0px;
}
.btncontact1 {
	font-weight: bold;
	font-family: muli;
	color: white !important;
	font-size: 16px;
	cursor: pointer;
	transition: all 0.2s;
	background-color: transparent;
	border: 1px solid white;
	padding: 10px 20px;
	margin-top: 10px;
	border-radius: 4px;
}
.btncontact1:hover {
	background-color: white;
	color: #212121 !important;
}

.lblfooter {
	font-family: muli;
	color: #9E9E9E;
	font-size: 19px;
}

ul > li {
	margin-right: 30px;
	color: white;
	cursor: pointer;
}
hr {
	margin-top: -10px !important;
	margin-bottom: -5px !important;
	width: 4%;
	height: 1px;
	background-color: white;
}
.lblcontact:hover {
	text-decoration: underline;
}