body, html {
	width: 100%;
	height: 100%;
	background-color: #111111;
}
.maincontainer {
	height: 100vh;
	background: linear-gradient(
                     rgba(20,20,20, 0), 
                     rgba(20,20,20, 1)),
                     url("../Image/bg1.jpg");
 	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	filter: saturate(2);
}
.imglogo {
	width: 37px !important;
}
.btnstore,.btncommunity,.btnabout,.btnsupport {
	color: white !important;
	font-family: muli;
	cursor: pointer;
	transition: all 0.2s;
}
.btnstore:hover,.btncommunity:hover,.btnabout:hover,.btnsupport:hover {
	color: #EF5350 !important;
}
.lblvalve {
	color: white;
	font-family: muli;
	font-size: 15px;
	font-weight: bold;
}
.slanted {
	position: relative;
    width: 160px;
    padding: 2px 10px;
    font-size: 20px;
    position: relative;
    color: #FFF;
    background: #EF5350;
}
.slanted:after {
content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: #EF5350;
    transform-origin: bottom left;
    -ms-transform: skew(-30deg, 0deg);
    -webkit-transform: skew(-30deg, 0deg);
    transform: skew(-30deg, 0deg);
}
.lbldota {
	color: white;
	font-family: Plane Crash;
	font-size: 90px;
	font-weight: bold;
	line-height: 90px;
}
.lbldescription {
	color: #E0E0E0;
	font-family: muli;
	font-size: 18px;
}
.btnplay {
	color: rgba(0,0,0,1);
	font-family: Lemon/Milk Bold;
	font-size: 17px;
	padding: 7px 30px;
	background-color: white;
	border: 1px solid white;
	cursor: pointer;
	font-weight: bold;
	border-radius: 50PX;
	mix-blend-mode: screen;
	transition: all 0.2s;
	outline: none !important;
}
.btnplay:hover {
	background-color: transparent;
	border: 1px solid white;
	color: white;
}
.btnwatch {
	color: white;
	font-family: Lemon/Milk;
	font-size: 17px;
	padding: 7px 30px;
	background-color: transparent;
	border: 1px solid white;
	cursor: pointer;
	font-weight: bold;
	border-radius: 50PX;
	transition: all 0.2s;
	mix-blend-mode: screen;
	outline: none !important;
}
.btnwatch:hover {
	color: #212121;
	background-color: white;
}
.colimg1 {
	background: linear-gradient(
                     rgba(20,20,20, 0), 
                     rgba(20,20,20, 1)),
                     url("../Image/char.jpg");
 	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.lblmars {
	font-family: Plane Crash;
	font-weight: bold;
	color: #edcf90;
	font-size: 40px;
	line-height: 25px;
}
.lblmarsub {
	font-family: Plane Crash;
	font-size: 17px;
	color: white;
	text-transform: lowercase;
}
hr {
	height: 1px;
	width: 100px;
	background-color: #EF5350;
	text-align: left;
	margin: 0 0;
}
.lblmarsdescription {
	font-family: muli;
	font-size: 17px;
	color: white;
}
.lblmarsview {
	color: #edcf90;
	font-family: muli;
	font-size: 17px;
	cursor: pointer;
	transition: all 1s ;
}
.lblmarsview:hover {
	border-bottom: 1px solid white;
}
.lblhero {
	font-family: Amateur Slash;
	font-size: 35px;
	color: white;
}
.imgheropedia {
	-moz-box-shadow: 0 0 2px 3px #0a0a0a;
	-webkit-box-shadow: 0 0 2px 3px #0a0a0a;
	box-shadow: 0 0 2px 3px #0a0a0a;
	cursor: pointer;
	filter: brightness(100%);
	transition: all 0.2s;
}
.imgheropedia:hover {
	filter: brightness(50%);
	-moz-box-shadow: 0 0 2px 3px #edcf90;
	-webkit-box-shadow: 0 0 2px 3px #edcf90;
	box-shadow: 0 0 2px 3px #edcf90;
}
.footer {
	background: linear-gradient(
                     rgba(20,20,20, 0.8), 
                     rgba(20,20,20, 1)),
                     url("../Image/char.jpg");
 	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.lblfooter {
	font-family: Plane Crash;
	font-size: 50px;
	color: white;
}
.lblbattle {
	font-family: muli;
	font-size: 17px;
	color: #BDBDBD;
	width: 70%;
}


#countholder{
 font-family: Lemon/Milk Bold;
 font-weight: bold;
 color: #edcf90;
 display: inline-block;
 text-align: center;
 font-size: 48px;
 background-color: transparent;
 padding:10px;
 border-radius: 3px;
 margin-bottom:30px;
 line-height: 1.1;
}
 
#countholder > div{
 padding: 4px 4px;
 display: inline-block;
}
 
#countholder div > span{
 border-radius: 3px;
 display: inline-block;
}
 
#countholder .smalltext{
 padding-top: 5px;
 font-size: 16px;
}
.hr1 {
	height: 1px;
	width: 100%;
	background-color: #EF5350;
	text-align: left;
	margin: 0 0;
}