@media screen and (min-width: 1200px) {
	.container {
		max-width: 1366px;
	}
}
@media screen and (max-width: 980px) {
	.colradiant{
		padding-right: 15px !important;
	}
	.coldire {
		padding-left: 15px !important;
	}
}
@media screen and (max-width: 414px) {
	.lblvale {
		font-size: 12px !important;
		color: black;
	}
	.lbldota {
		font-size: 40px;
		line-height: 50px;
	}
	.lbldescription {
		font-size: 15px;
	}
	.btnplay {
		font-size: 13px;
	}
	.btnwatch {
		font-size: 13px;
	}
	.colrev2,.colrev3 {
		margin-top:10px;
	}
	.lblmars {
		font-size: 25px;
	}
	.lblmarsub {
		font-size: 13px;
	}
	.lblmarsdescription {
		font-size: 15px;
	}
	.lblchoose {
		width: 100% !important;
	}
	.colradiant{
		padding-right: 15px !important;
	}
	.coldire {
		padding-left: 15px !important;
	}
	.lblfooter {
		font-size: 20px;
	}
	.lblbattle {
		font-size: 15px;
		width: 100%;
	}
}