@font-face {
	font-family: "muli";
	src: url("./Font/Muli/muli/Muli.ttf");
}
@font-face {
	font-family: "Montserrat";
	src: url("./Font/montserrat/Montserrat-Regular.otf");
}
html, body {
    height: 100%;
    width: 100%;
    background-color: #25252f !important;
    scroll-behavior: smooth;
    overflow: hidden;
}
@media screen and (min-width: 1200px) {
	.container {
		max-width: 1300px !important;
	}
}
.navbar-brand img {
	width: 55px;
	padding-top: 5px;
}
.con1 {
    margin-top:-4%;
}
.btnfeatures:hover , .btnaboutus:hover , .btndocs:hover {
    border-radius: 20px;
    color: #CD5227 !important;
    cursor: pointer;
    transition: 0.2s;
    
}
.p1 {
    color: white;
    font-family: 'Montserrat',muli;
    font-weight: bold;
    font-size: 20px;
}
.p2 {
    color: whitesmoke;
    font-family: muli Semibold;
    font-size: 27px;
    cursor: default
}
#p2 {
    opacity: 1;
    transition: opacity 0.5s;
}
.hide {
    opacity: 0 !important;
}

.l2 {
    color:white;
    font-family: Montserrat Semibold;
    font-size: 24px;
    line-height: 1.6;
}
.l3 {
    color:white;
    font-family: lato;
    font-size: 15px;
    width:90%;
    line-height: 1.6;
}
.abot {
    color:	#E04F20;
}
.frm {
    padding-top:20px;
}
.btnsubmit {
    padding : 10px 25px 10px 30px;
    color:whitesmoke;
    font-family: Montserrat;
    font-size: 14px;
    border: 0px;
    background-color: #2B2B37;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s;
    outline: none !important;
}
.btnsubmit:hover {
    background-color: #CD5227;
}
.txt1 {
    background-color: #2B2B37;
    border-radius: 20px;
    border: 0px;
    padding : 10px 20px 10px 20px;
    font-size: 14px;
    outline: none;
    color: whitesmoke;
    width: 250px;
}
.perror {
    font-family: muli;
    font-size: 13px;
    color: #CD5227;
    margin-top: 2.5%;
    margin-left: 1%;
    visibility: hidden;
}

  /***************Features*****************/
  .lbl404 {
      font-family: muli;
      font-weight: bold;
      font-size: 200px;
      color:White;
  }
  .lbloops {
      font-size: 35px;
      font-family: muli;
      font-weight: bold;
      color: whitesmoke;
      text-align: center;
  }
  .lblpage {
      font-family: muli;
      font-size: 14px;
      color: #757677;
  }
  .btnhome {
    margin-top:25px;
    padding : 10px 25px 10px 30px;
    color:whitesmoke;
    font-family: Montserrat;
    font-size: 14px;
    border: 0px;
    background-color: #2B2B37;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s;
    outline: none !important;
  }
  .btnhome:hover {
    background-color: #CD5227;
  }

  .txtask {
    border-top:0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid white;
    background-color:  transparent;
    width: 70%;
  }
  .pchoose {
      font-family: muli Semibold;
      color: white;
      font-size: 30px;
      width: 100%;  
  }
  .pchoosesub {
    font-family: muli;
    color: white;
    font-size: 15px;
    width: 100%;
  }
  .card1 {
    background-color: #25252f !important;
    border: 0px !important;
    color: whitesmoke; 
    transition: all 0.2s;
    cursor: pointer;
    line-height: 1.6;
  }
  .card1:hover {
    box-shadow: 1px 1px 10px 1px rgba(27,27,28,1);
  }
  .imgbot {
    width:150px !important;
    padding-top: 20px;
    position: relative;
  }
  .imgbot:hover,
  .imgbot.hover {
    animation: mover 0.7s infinite alternate;
  }
  @keyframes mover {
      0% { transform: translate(0);}
      100% { transform: translateY(-10px);}
  }
  .text-muted {
      font-family: muli;
      cursor: pointer;
  }
  .text-muted:hover, .text-muted.hover {
      transition: all 0.2s;
      color: #CD5227 !important;
  }




  